.footer {
    font-family: "Open Sans Condensed";
    padding: 23px 0 23px;
    background: #45B7E3;
    background-size: cover;
    height: 107px;
    

&__title {
    text-align: right;
    font-size: 48px;
    color: #FFFFFF;
  }
}